<div id='books'>
  <div class="header wrapper">
    <div class="app-title">
      <%= link_to image_tag("/Typie_logo_2.png"), api_books_path %>
    </div>
    <div class="tool-bar">
      <div class="user-name flex bar-font">
        <%= current_user.nickname %>
      </div>
      <div class="log-out flex">
        <div class="log-out-button bar-font"><%= button_to "Log out", destroy_user_session_path, method: :delete %></div>
      </div>
    </div>
  </div>
  <books />

</div>