* {
  box-sizing: border-box;
}

.bg-img {
  background-image: url(/student-849822_1280.jpg);
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.font {
  color: white;
  font-size: 15pt;
  letter-spacing: 4px;
  text-shadow: 2px 2px 1px #00007f, -2px 2px 1px #00007f, 2px -2px 1px #00007f,
    -2px -2px 1px #00007f, 2px 0px 1px #00007f, 0px 2px 1px #00007f,
    -2px 0px 1px #00007f, 0px -2px 1px #00007f;
  font-weight: bold;
}

.title h2 {
  font-size: 4rem;
  font-family: "PT Sans", sans-serif, serif;
  font-weight: bolder;
}

.field {
  padding-top: 10px;
}

.field input {
  border: 2px #00007f solid;
  background-color: rgba(0, 0, 255, 0.2);
  border-radius: 6px;
  padding: 5px 10px;
  color: #0000af;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.sign-up {
  height: 100px;
}

.actions {
  display: flex;
  justify-content: center;
}

.sign-up input#user_nickname {
  width: 400px;
}

.sign-up input#user_email {
  width: 400px;
}

.log-in input#user_email {
  width: 400px;
}

.sign-up input#user_password {
  width: 400px;
}

.log-in input#user_password {
  width: 400px;
}
.sign-up input#user_password_confirmation {
  width: 400px;
}

.log-in input#user_password_confirmation {
  width: 400px;
}
.sign-up input:focus {
  transform: scale(1.1, 1.1);
  background-color: rgba(223, 223, 223, 0.5);
}

.log-in input:focus {
  transform: scale(1.1, 1.1);
  background-color: rgba(223, 223, 223, 0.5);
}
.field input:focus:invalid {
  border: red 5px solid;
}

.sign-up input:focus:valid ~ .error .invalid {
  display: none;
}

.log-in input:focus:valid ~ .error .invalid {
  display: none;
}
.sign-up input:valid {
  border: rgb(2, 175, 2) 6px solid;
  background-color: rgba(223, 223, 223, 0.5);
}

.log-in input:valid {
  border: rgb(2, 175, 2) 6px solid;
  background-color: rgba(223, 223, 223, 0.5);
}
.actions input[type="submit"] {
  width: 80%;
  background-color: #00007f;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
  padding: 8px 0;
  transition: all 0.3s ease;
}

.actions input[type="submit"]:hover {
  background-color: #0000af;
  transform: scale(1.05, 1.1);
}

.remember-me {
  margin-top: 10px;
}

.check-box {
  width: 5.5rem;
  height: 2.5rem;
  position: relative;
  margin-bottom: 30px;
}

.check-box input[type="checkbox"] {
  display: none;
}

.check-box label {
  position: absolute;
  background-color: gray;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  border-radius: 3.125rem;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.check-box label:after {
  content: "";
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 3.125rem;
  position: absolute;
  top: 0.3125rem;
  z-index: 1;
  left: 0.5rem;
  background-color: #fffffd;
  -webkit-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}

.check-box input[type="checkbox"]:checked ~ label {
  background-color: rgb(2, 175, 2);
}

.check-box input[type="checkbox"]:checked ~ label:after {
  left: 3.125rem;
}

.header {
  height: 60px;
  width: 100vw;
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
}

.app-title {
  height: 100%;
  border-radius: 10px;
}

.tool-bar {
  width: 60%;
  height: 100%;
  display: flex;
}

.tool-bar-button {
  height: 90%;
  width: 80%;
  font-size: 2.5rem;
  border-radius: 20px;
  background-color: rgb(79, 187, 230);
  color: #fff;
}

.new-code {
  width: 40%;
  height: 100%;
  align-items: center;
}

.user-name {
  width: 30%;
  height: 100%;
  font-size: 3rem;
  color: rgb(79, 187, 230);
  border: rgb(79, 187, 230) solid 5px;
  border-radius: 20px;
}

.bar-font {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 3px;
}

.log-out {
  width: 30%;
  height: 100%;
  align-items: center;
}

.tool-bar-button:hover {
  background-color: rgb(151, 209, 231);
}

.bg-img-books {
  background-image: url(/computer-1209641_1920.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.container-new-code {
  align-items: center;
}

.new-code-eye-catch {
  height: 10%;
  width: 80%;
  font-size: 3rem;
  text-align: center;
  margin-top: 20px;
}

.title-language {
  display: flex;
}

.new-code-form {
  width: 50%;
  height: 65%;
}

.new-code-text {
  width: 50%;
  padding: 10px;
}

.new-code-text input[type="text"] {
  width: 100%;
  margin-top: 10px;
  color: #fff;
  text-shadow: 2px 2px 1px #00007f, -2px 2px 1px #00007f, 2px -2px 1px #00007f,
    -2px -2px 1px #00007f, 2px 0px 1px #00007f, 0px 2px 1px #00007f,
    -2px 0px 1px #00007f, 0px -2px 1px #00007f;
  background-color: rgba(223, 223, 223, 0.2);
  transition: all 0.3s ease;
}

.new-code-text input[type="text"]:focus {
  transform: scale(1.1, 1.1);
  background-color: rgba(223, 223, 223, 0.5);
}

.new-code-textarea {
  padding: 10px;
  height: 50%;
}

.new-code-textarea textarea {
  height: 78%;
  width: 100%;
  margin-top: 10px;
  border: 2px #00007f solid;
  background-color: rgba(223, 223, 223, 0.2);
  border-radius: 6px;
  padding: 5px 10px;
  color: black;
  font-size: 12pt;
  transition: all 0.3s ease;
}

.new-code-textarea textarea:focus {
  transform: scale(1.05, 1.05);
  background-color: rgba(223, 223, 223, 0.5);
}

.select-box {
  height: 60%;
  width: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.select-box select {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: #00007f solid 2px;
  border-radius: 10px;
  background-color: rgba(223, 223, 223, 0.2);
  color: #fff;
  text-shadow: 2px 2px 1px #00007f, -2px 2px 1px #00007f, 2px -2px 1px #00007f,
    -2px -2px 1px #00007f, 2px 0px 1px #00007f, 0px 2px 1px #00007f,
    -2px 0px 1px #00007f, 0px -2px 1px #00007f;
  padding: 5px 0 5px 20px;
}

.new-code-color {
  height: 20%;
  padding: 10px;
}

.new-code-send {
  margin-bottom: 30px;
}
